var application = $('#application-main-body');

<% if @error.present? %>

var newErrorNotify = $("<%=j render 'notifies/notify', msg: @error %>");
application.find('#application-main-body-yield').prepend(newErrorNotify);
newErrorNotify.notifyRemove();

<% else %>

$(".marketer[data-id='<%= @marketer.try(:id) %>']").html('<td colspan="9"><%=j render "marketers/marketer", :marketer => @marketer %></td>');
var newSuccessNotify = $("<%=j render 'notifies/notify', msg: "#{@marketer.name} "  + "record has been updated" %>");
application.find('#application-main-body-yield').prepend(newSuccessNotify);
newSuccessNotify.notifyRemove();

<%end%>