var application = $('#application-main-body');

<% if @error.present? %>

var newErrorNotify = $("<%=j render 'notifies/notify', msg: @error %>");
application.find('#application-main-body-yield').prepend(newErrorNotify);
newErrorNotify.notifyRemove();

<% else %>

$(".unit-dose[data-id='<%= @unit_dose.try(:id) %>']").html('<td colspan="4"><%=j render "unit_doses/unit_dose", :unit_dose => @unit_dose %></td>');
var newSuccessNotify = $("<%=j render 'notifies/notify', msg: "#{@unit_dose.name} "  + "record has been updated" %>");
application.find('#application-main-body-yield').prepend(newSuccessNotify);
newSuccessNotify.notifyRemove();

<%end%>