var application = $('#application-main-body');

<% if @error.present? %>

var newErrorNotify = $("<%=j render 'notifies/notify', msg: @error %>");
application.find('#application-main-body-yield').prepend(newErrorNotify);
newErrorNotify.notifyRemove();

<% else %>

$(".item-conc-unit[data-id='<%= @item_concentration_unit.try(:id) %>']").html('<td colspan="3"><%=j render "item_concentration_units/item_concentration_unit", :item_concentration_unit => @item_concentration_unit %></td>');
var newSuccessNotify = $("<%=j render 'notifies/notify', msg: "#{@item_concentration_unit.name} "  + "record has been updated" %>");
application.find('#application-main-body-yield').prepend(newSuccessNotify);
newSuccessNotify.notifyRemove();

<%end%>