var application = $('#application-main-body');

<% if @error.present? %>

var newErrorNotify = $("<%=j render 'notifies/notify', msg: @error %>");
application.find('#application-main-body-yield').prepend(newErrorNotify);
newErrorNotify.notifyRemove();

<% else %>

$(".store-type[data-id='<%= @store_type.id %>']").html('<td colspan="3"><%=j render "store_types/store_type", :store_type => @store_type %></td>');
var newSuccessNotify = $("<%=j render 'notifies/notify', msg: "#{@store_type.name} "  + "record has been updated" %>");
application.find('#application-main-body-yield').prepend(newSuccessNotify);
newSuccessNotify.notifyRemove();

<%end%>