var application = $('#application-main-body');

<% if @error.present? %>

var newErrorNotify = $("<%=j render 'notifies/notify', msg: @error %>");
application.find('#application-main-body-yield').prepend(newErrorNotify);
newErrorNotify.notifyRemove();

<% else %>

$(".store[data-id='<%= @store.id %>']").html('<td colspan="8"><%=j render "stores/store", :store => @store%></td>');
var newSuccessNotify = $("<%=j render 'notifies/notify', msg: "#{@store.name} "  + "record has been updated" %>");
application.find('#application-main-body-yield').prepend(newSuccessNotify);
newSuccessNotify.notifyRemove();

<%end%>

