var application = $('#application-main-body');

<% if @error.present? %>

var newErrorNotify = $("<%=j render 'notifies/notify', msg: @error %>");
application.find('#application-main-body-yield').prepend(newErrorNotify);
newErrorNotify.notifyRemove();

<% else %>

$(".item-class[data-id='<%= @item_class.try(:id) %>']").html('<td colspan="4"><%=j render "item_classes/item_class", :item_class => @item_class %></td>');
var newSuccessNotify = $("<%=j render 'notifies/notify', msg: "#{@item_class.name} "  + "record has been updated" %>");
application.find('#application-main-body-yield').prepend(newSuccessNotify);
newSuccessNotify.notifyRemove();

<%end%>