<div class="navbar-wrapper">
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
    	    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	      <span class="icon-bar"></span>
    	    </a>
          <a class="navbar-brand" href="http://localhost:3000"><%= image_tag("logo.png", :alt => "logo.png") %></a>
        </div>
        <div id="item-attr">
  		     <ul class="nav navbar-nav navbar-right">
            	<li><%= link_to 'Features', front_pages_features_path %></li>
            	<li><%= link_to 'Help', front_pages_help_doc_path %></li>
            	<li><%= link_to 'Log In', new_user_session_path %></li>
           </ul>
		    </div>
      </div>  
    </div>
</div><!-- /navbar wrapper -->
