<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe"></i>Notifications</a>
<ul class="dropdown-menu">
  <% if current_user and !current_user.unread_alerts.blank? %>
      <% current_user.unread_alerts.each do |a| %>
          <li><a href="#"><%= a.message %></a></li>
          <li role="separator" class="divider"></li>
      <% end %>
      <%= link_to "Mark all as read" %>
  <% end %>
</ul>