tr.vendor data-id = vendor.id 
       td = vendor.name
       td = vendor.try(:reg_number)
       td = vendor.address
       td
            a.link-detail href = '#'  More
            ul.nav.details.hide
                li ="Contact Name : #{ vendor.contact_name}"
                li ="Contact Mobile : #{ vendor.contact_mobile}"
                li ="Contact Email : #{ vendor.contact_email}"
                li ="Vendor Category : #{ vendor.vendor_category.try(:name)}"
                li ="Contact Email : #{ vendor.store.try(:name)}"
       td.text-right
            a.btn.btn-primary.btn-xs href = edit_vendor_path(vendor) data-remote='true'  Edit
            a.btn.btn-danger.btn-xs href = vendor_path(vendor) data-method='delete'   data-remote='true'  Destroy