tr.vendor data-id = vendor.id 
       td = vendor.name
       td = vendor.try(:reg_number)
       td
            a.link-detail href = '#'  More
            ul.nav.details.hide
                li ="Address : #{ vendor.address}" 
                li ="Contact Name : #{ vendor.contact_name}"
                li ="Contact Mobile : #{ vendor.contact_mobile}"
                li ="Contact Email : #{ vendor.contact_email}"
                li ="Vendor Category : #{ vendor.vendor_category.try(:name)}"
                li ="Contact Email : #{ vendor.store.try(:name)}"
       td.actions
            a href = edit_vendor_path(vendor) data-remote='true'
              span aria-hidden="true" class="glyphicon glyphicon-pencil"
            a href = vendor_path(vendor) data-method='delete'   data-remote='true'
              span aria-hidden="true" class="glyphicon glyphicon-lock"