.title Vendor

section#pims-index
        .vendors-form
            = render 'form'
        .downloadExcel
            a href = vendors_path(:format => 'xlsx')  Download Excel
        table.table.table-striped.table-condensed.data_table
          thead
             tr
             th Name 
             th Reg No
             th Detail
             th.text-right
                 span aria-hidden="true" class="glyphicon glyphicon-sort"
            
          tbody.vendors
            - @vendors.each do |vendor|
              = render vendor
              
    


