.title Vendor

section#pims-index
        .vendors-form
            = render 'form'
        .text-right
            a href = '#'  Download Excel
        table.table.table-striped.table-condensed
          thead
             tr
             th Name 
             th Reg No
             th Detail
             th
            
          tbody.vendors
            - @vendors.each do |vendor|
              = render vendor
              
    


