// Place all the styles related to the approvals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal-approvals {
  /* new custom width */
  width: 90%; /* desired relative width */
  left: 5%; /* (100%-width)/2 */
  /* place center */
  margin-left:auto;
  margin-right:auto;
  /* must be half of the width, minus scrollbar on the left (30px) */
  //margin-left: -375px;
}

.modal-approvals .modal-dialog
{
  width: 90%;
}