.well {
	box-shadow: none;
}
select.form-control {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	padding-right: 30px;
	display: flex!important;
	padding-top: 0px;
	padding-bottom: 0;
	background: image-url('downarrow.png') no-repeat right 12px;
	transition: all 0.3s ease-in-out;
	background-color: #fff;
	height: 34px;
	option {
		padding: 8px;
	}
	&:focus {
		background-position: right -28px;
	}
}
.form-control {
	box-shadow: none;
	height: 34px;
}
form {
	label {
		font-size: 16px;
		font-weight: normal;
	}
}

/*table css*/
table {
	thead {
		background-color: $bgdarkgray;
		
		th {
			font-size: 14px;
			color: $Textwhite;
			font-weight: normal;
			padding: 10px !important;
		}
	}
	td {
		padding: 8px !important;
		table {
			margin: 0!important;
			thead {
			background: transparent;
				tr th {
					border-bottom: 0;
					color: $Textgray;
				}
			}
		}
	}
	.actions {
		text-align: right;
		a {
			color: $Textdarkgray;
			display: inline-block;
			margin-left: 5px;
		}
		span {
			padding: 5px;
		}
	}
}
table.dataTable {
	thead .sorting:after {
		display:none;
	}	
	thead .sorting_asc:after, 
	thead .sorting_desc:after {
		display: none;
	}
}
#pims-index {
	.btn {
		padding: 8px 20px;
		font-size: 16px;
	}
}
.dataTables_wrapper {
	div.row:last-child {
		margin: 20px 0 50px !important;
		padding: 15px 0 5px;
		background-color: #fafafa;
		border-top: solid 1px $borderGray;
		border-bottom: solid 1px $borderGray;
	}
	.dataTables_info {
		text-transform: capitalize;
	}
}
#pims-index {
	.dataTables_length {
		label {
			display: block;
			font-size: 13px;
			color: $Textgray;
			text-transform: capitalize;
			overflow: hidden;
		}
		select {
			float: left;
			width: 100px;
			height: 34px;
			outline: none;
		}
	}
	.store-form {
		.roles {
			clear: both;
			padding: 0 15px;
			line-height: 30px;
			margin: 20px 0;
			input[type='checkbox'] {
				margin-right: 10px;
				margin-top: 7px;
				float: left;
			}
		}
		.new_store {
			label {
				display: block;
			}
		}
	}
	.selectTime {
		width: 49%;
		float: left;
		margin-right: 10px;
		&:last-child {
			margin: -17px 0 0 0;
			position: relative;
			z-index: 1;
		}
	}
}
.dataTables_filter{
	padding-top: 18px;
	input.form-control {
		height: 34px;
	}
	label {
		font-size: 13px;
		color: $Textgray;
		text-transform: capitalize;
		overflow: hidden;
		margin: 0;
	}
}
.downloadExcel {
	text-align: right;
	background: transparent image-url('excel.png') right 8px no-repeat;
	background-size: 40px;
	padding: 20px 50px 20px 20px;
	font-size: 15px;
	margin-bottom: 10px;
	clear: both;
	a {
		color: #08743b;
	}
}
.simple_form {
	.actions {
		padding: 0 15px;
		clear: both;
		overflow: hidden;
		.btn {
			float: left;
			margin-right: 10px;
		}
	}
}
.store-type-edit-form,
.store-operation-edit-form,
.store-edit-form, .vendor-edit-form,
.user-edit-form,
.staff-category-edit-form,
.marketer-edit-form,
.hospital-unit-edit-form,
.item-class-edit-form,
.unit-dose-edit-form,
.item-conc-unit-edit-form  {
	width: 100%;
	border-radius: 0;
	border: 0;
	background: transparent;
	padding: 10px;
	margin: 0;
	.title {
		text-align: left;
	}
	.actions {
		text-align: left;
		clear: both;
	}
	.action {
		clear: both;
		padding: 0 15px;
	}
	.form-group {
		display: block;
		margin-bottom: 15px;
	}
	label {
		display: block;
		font-size: 14px;
		padding-bottom: 5px;
	}
	.form-control {
		width: 300px;
	}
	.selectTime {
		width: 48%;
	}
	h5 {
		margin: 0 0 20px;
	}
	.checkbox label {
		&:before {
			display: none;
		}
	}
	.checkbox input[type="checkbox"] {
		opacity: 1;
		margin-right: 5px;
	}
	.roles {
		clear: both;
		padding: 0 15px;
		line-height: 30px;
		margin: 20px 0;
		input[type='checkbox'] {
			margin-right: 10px;
			margin-top: 7px;
			float: left;
		}
	}
	textarea.form-control {
		min-height: 112px;
	}
}
.data_table {
	.link-detail {
		display: block;
	}
	.nav.details {
		background: $bgwhite;
		border: solid 1px $borderGray;
		padding: 10px;
		border-radius: 3px;
		position: absolute;
		margin-top: 10px;
		line-height: 20px;
		color: #666;
		&:after {
			border-bottom: solid 8px #ccc;
			border-left: solid 8px transparent;
			border-right: solid 8px transparent;
			position: absolute;
			bottom: 100%;
			left: 10px;
			content: '';
		} 
		&:before {
			border-bottom: solid 7px #fff;
			border-left: solid 7px transparent;
			border-right: solid 7px transparent;
			position: absolute;
			bottom: 100%;
			left: 11px;
			z-index: 2;
			content: '';
		}
	}
}
.store-edit-form {
	.form-group {
		float: left;
		width: 50%;
		padding-right: 10px;
		&:nth-child(2) {
			padding-right: 0;
		}
		.form-control {
			width: 100%;
		}
	}
}
.vendors-form,
.marketers-form {
	textarea.form-control {
		min-height: 114px; 
	}
}
.userTabs {
	margin-top: 20px;
	margin-bottom: 20px;
	.tab-content {
		padding: 20px 10px 10px;
		input[type='checkbox'] {
			float: left;
			margin: 2px 5px 0 0;
			position: static;
		}
	}
	.checkbox {
		label {
			padding: 0;
		}
		label:before {
			display: none;
		}
		input[type='checkbox'] {
			opacity: 1;
			margin-right: 10px;
			position: static;
		}
	}
	.checkboxWrapper {
		font-size: 14px;
		.devider {
			clear: both;
			margin-bottom: 10px;
		}
	}
	.nav-tabs li {
		margin: 0 5px 10px 0;
		.active {
			margin: 0 5px 10px 0;
		}
	}
	.nav-tabs li a {
		background-color: $bgdarkgray;	
		color: $Textwhite;
		border-color: $boderdarkgray;
		margin: 0;
		outline: none;
	}
	li.active > a,
	li.active > a:hover,
	li.active > a:focus {
		outline: none;
		border-bottom: solid 1px #ddd;
	}
}
.simple_form {
	.checkbox label {
		padding: 0;
		&:before {
			display: none;
		}
	}
	.checkbox input[type="checkbox"] {
		opacity: 1;
		margin-right: 5px;
		margin-top: 2px;
		position: static;
		float: left;
	}
}
.marketersDataTable {
	thead th {
		min-width: 105px ;
	}
	.marketers tr {
		td:nth-child(8) {
			text-align: center;
		}
	}
}
.btn-default:hover, 
.btn-default:focus, 
.btn-default:active, 
.btn-default.active, 
.open > .btn-default.dropdown-toggle {
	background-color: $bgdarkgray;
	color: $Textwhite;
}
abbr[title], 
abbr[data-original-title] {
	border: 0;
	color: red;
}
.itemDataTable {
	thead th {
		min-width: 200px ;
	}
	th:nth-child(3),
	td:nth-child(3) {
		text-align: center;
	}
}
.subClassDropdown {
	position: relative;
	ul.sub-classes {
		background: $bgwhite;
		border: solid 1px $borderGray;
		padding: 10px;
		border-radius: 3px;
		position: absolute;
		margin-top: 10px;
		line-height: 20px;
		color: #666;
		list-style: none;
		z-index: 2;
		&:after {
			border-bottom: solid 8px #ccc;
			border-left: solid 8px transparent;
			border-right: solid 8px transparent;
			position: absolute;
			bottom: 100%;
			left: 93px;
			content: '';
		} 
		&:before {
			border-bottom: solid 6px #fafafa;
			border-left: solid 7px transparent;
			border-right: solid 7px transparent;
			position: absolute;
			bottom: 100%;
			left: 94px;
			z-index: 2;
			content: '';
		}
		li {
			margin-bottom: 5px;
			padding-bottom: 5px;
			border-bottom: solid 1px $borderGray;
			span {
				display: table-cell;
				vertical-align: top;
				width: 50%;
			}
		}
		.subclassesList {
			height: 150px;
			overflow-y: scroll;
			text-align: left; 
			padding-right: 10px;
			margin-right: -5px;
		}
		h5 {
			font-weight: normal;
			margin: -10px -10px 10px;
			padding: 5px;
			background-color: #fafafa;
			border-bottom: solid 1px $borderGray;
			label {
				font-weight: normal;
				margin: 0;
				font-size: 13px;
				display: inline-block;
				width: 50%;
				text-align: left;
			}
		}
		
	}
}
.relative {
	position: relative;
}
.customDropdown {
	background: $bgwhite;
	border: solid 1px $borderGray;
	padding: 0px;
	border-radius: 3px;
	position: absolute;
	margin-top: 10px;
	line-height: 20px;
	color: #666;
	list-style: none;
	z-index: 2;
	ul {
		padding: 0 10px 10px;
		list-style: none; 
	}
	h5 {
		font-weight: normal;
		margin: 0 0 10px;
		padding: 8px;
		background-color: #fafafa;
		border-bottom: solid 1px $borderGray;
	}
	&:after {
		border-bottom: solid 8px #ccc;
		border-left: solid 8px transparent;
		border-right: solid 8px transparent;
		position: absolute;
		bottom: 100%;
		left: 10px;
		content: '';
	} 
	&:before {
		border-bottom: solid 6px #fafafa;
		border-left: solid 7px transparent;
		border-right: solid 7px transparent;
		position: absolute;
		bottom: 100%;
		left: 11px;
		z-index: 2;
		content: '';
	}
}
.storeDataTable {
	th:nth-child(7),
	td:nth-child(7) {
		text-align: center;
	}
	.customDropdown {
		text-align: left;
		width: 135px;
		ul {
			height: 100px;
			overflow-y: scroll;
		}
		li {
			margin-bottom: 5px;
			padding-bottom: 2px;
			border-bottom: solid 1px $borderGray; 
		}
		&:after {
			left: 22px;
		}
		&:before {
			border-bottom-color: #fafafa;
			left: 23px;
		}
	}
}
.userDataTable {
	th:nth-child(6),
	td:nth-child(6) {
		text-align: center;
	}
	.customDropdown {
		text-align: left;
		width: 135px;
		ul {
			height: 100px;
			overflow-y: scroll;
		}
		li {
			margin-bottom: 5px;
			padding-bottom: 2px;
			border-bottom: solid 1px $borderGray; 
		}
		&:after {
			left: 36px;
		}
		&:before {
			border-bottom-color: #fafafa;
			left: 37px;
		}
	}
}