= simple_form_for @surcharge , :html => { :class => 'form-inline' }do |f|
 
   =f.input :surcharge_name, label: false, placeholder: "Surcharge Name"
   =f.input :surcharge_type, label: false, as: :select, collection: Surcharge::SURCHARGE_TYPES, prompt: "Select Charge Type"
   =f.input :active, as: :boolean
   div
    =f.simple_fields_for :surcharge_items do |surcharge_item|
      = render 'surcharge_item', s: surcharge_item
   div
     =f.button :submit

