   .nested-fields

        =f.input :surcharge_item_name

        =f.input :value

        =f.input :description, as: :text

        = link_to_remove_association "Remove item", f, class: 'btn btn-primary'
