hr
=s.input :surcharge_item_name,label: false,placeholder: "Surcharge Item name"
=s.input :value, label: false, placeholder: "Value"
=s.input :description, as: :text, label: false, placeholder: "Description"
