<!--#drugs_chart_container style="min-width: 310px; height: 400px; margin: 0 auto"-->

<div id="drugs_chart_container" style="min-width: 310px; height: 400px; margin: 0 auto">     </div>
<div id="brands_chart_container" style="min-width: 310px; height: 400px; margin: 0 auto">

</div>
<style>
  .highcharts-tooltip span {
    width: 200px !important;
    overflow: auto;
    white-space: normal !important;
  }
</style>
<script>
  $(function () {

    $(document).ready(function () {

      var chart_json = JSON.parse('<%= raw @chart_data.to_json %>');

      // Build the chart
      $('#drugs_chart_container').highcharts({
        chart: {
          type: 'column'
        },
        title: {
          text: 'Drug Classification'
        },
        credits: {
          enabled: false
        },
        tooltip: {
          useHTML: true,
          formatter: function () {
            return '<b>' + this.point.name + ' : ' + this.point.y + '</b><br><span style="font-size: 10px;">' + this.point.item + '</span>';
          }
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
        xAxis:{
            type: 'category',
            labels:{
                rotation: -90,
                style: {
                    fontSize: '10px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
          min: 0,
          title: {
            text: 'Sub classes count'
          }
        },
        series: [{
          name: 'Drug Classes',
          colorByPoint: true,
          data: chart_json
        }]
      });




      var chart_json = JSON.parse('<%= raw @brand_data.to_json %>');

      // Build the chart
      $('#brands_chart_container').highcharts({
        chart: {
          type: 'column'
        },
        title: {
          text: 'Generic Drugs and Brands'
        },
        credits: {
          enabled: false
        },
        tooltip: {
          useHTML: true,
          formatter: function () {
            return '<b>' + this.point.drug + ' : ' + this.point.y + '</b><br><span style="font-size: 10px;">' + this.point.name + '</span>';
          }
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
        xAxis:{
              labels:{
                  enabled: false
              },
              title:{
                  text: "Brands"
              }
          },
        yAxis: {
          min: 0,
          title: {
            text: 'Brands count'
          }
        },
        series: [{
          name: 'Generic Drugs',
          colorByPoint: true,
          data: chart_json
        }]
      });


    });
  });




</script>