<!--#drugs_chart_container style="min-width: 310px; height: 400px; margin: 0 auto"-->
<%
  chart_data = []
  @item_classes.each do |item|
    count = item.sub_classes.try(:count)
    chart_data << {:name => item.sub_classes.pluck(:name).map { |x| x.gsub("'", "") }, :y => count, :item => item.name.gsub("'", "")}
    item.sub_classes.each do |s|

    end
  end

%>
<div id="drugs_chart_container" style="min-width: 310px; height: 400px; margin: 0 auto">

</div>
<style>
  .highcharts-tooltip span {
    width: 200px !important;
    overflow: auto;
    white-space: normal !important;
  }
</style>
<script>
  $(function () {

    $(document).ready(function () {

      var chart_json = JSON.parse('<%= raw chart_data.to_json %>');
      console.log(chart_json);

      // Build the chart
      $('#drugs_chart_container').highcharts({
        chart: {
          type: 'column'
        },
        title: {
          text: 'Drug Classification'
        },
        credits: {
          enabled: false
        },
        tooltip: {
          useHTML: true,
          formatter: function () {
            return '<b>' + this.point.item + ' : ' + this.point.y + '</b><br><span style="font-size: 10px;">' + this.point.name + '</span>';
          }
        },

        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },

        yAxis: {
          min: 0,
          title: {
            text: 'Sub classes count'
          }
        },
        series: [{
          name: 'Drug Classes',
          colorByPoint: true,
          data: chart_json
        }]
      });
    });
  });
</script>